<a href="https://colab.research.google.com/github/scomarae/SkillBox/blob/main/Task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Чтение и запись данных, часть 2

## Практическая работа

### Описание практической работы и формат сдачи

Выполните предложенные задачи: сохраните блокнот отдельно себе на диск и после этого пишите код в ячейках под задачами. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет и отправьте на проверку.

### Задача 1

Используя сервис WeatherAPI, получите прогноз погоды в Лондоне на следующие 2 дня. Ответ преобразуйте к типу JSON.

In [ ]:
API_KEY = "e37a1dd9594d4fcf89a22434233008"
days = 2
url = f"http://api.weatherapi.com/v1/forecast.json?key={API_KEY}&q=London&days={days}"

In [ ]:
import urllib.request as req
import json
import pandas as pd
import sqlalchemy
import psycopg2

with req.urlopen(url) as session:
    response = session.read().decode()
    data = json.loads(response)

### Задача 2

Сохраните данные погоды, полученные в предыдущей задаче, в файл `weather.json`. При сохранении используйте четыре пробела для форматирования.

In [ ]:
with open ('weather.json', 'w') as file:
  json.dump(data, file, indent=4)

### Задача 3

Из содержимого файла `weather.json` получите **почасовой** прогноз погоды, загрузите его в DataFrame и выведите первые пять строк DataFrame на экран.

In [ ]:
df = pd.read_json('weather.json')
df.head()

                               location current forecast
name                             London     NaN      NaN
region   City of London, Greater London     NaN      NaN
country                  United Kingdom     NaN      NaN
lat                               51.52     NaN      NaN
lon                               -0.11     NaN      NaN

### Задача 4

Сохраните DataFrame из предыдущей задачи в файл `result.csv`. В качестве названия столбца-индекса используйте `index`.

In [ ]:
df.to_csv('result.csv', index_label='index')

### Задача 5

Загрузите содержимое SQL-таблицы `ratings` в DataFrame. Выведите первые пять строк DataFrame на экран. Для подключения к БД используйте строку подключения, указанную в следующей ячейке.

In [ ]:
connection = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'


engine = sqlalchemy.create_engine(connection)
connect = engine.connect()

from sqlalchemy import text
query = text("SELECT * FROM ratings") # делаю так, потому что если вставляю сразу строку в read_sql,
# вылазит ошибка решение которой в интернете предложили вот такое

df = pd.read_sql(query, connect)
df.head()

   userid  movieid  rating  timestamp
0     308     2700     5.0  979861595
1     308     2701     1.0  980307875
2     308     2712     2.0  980309642
3     308     2716     3.0  980306849
4     308     2723     2.0  980308705

### Задача 6

Сохраните первые 10000 записей датафрейма из предыдущей задачи в файл `result2.xlsx`, при сохранении задайте листу имя `MySheet`.

(Примечание: для указания имени листа в файле Excel как при чтении, так и при записи используется параметр `sheet_name`)

In [ ]:
df.head(10000).to_excel('result2.xlsx', sheet_name='MySheet')

### Задача 7

Определите количество документов в коллекции `users` в MongoDB. Если количество документов < 1000, то в следующей ячейке загрузите всё содержимое этой коллекции в список и выведите нулевой элемент этого списка на экран. Для подключения к MongoDB используйте строку подключения, указанную в следующей ячейке.

In [ ]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.4.2)

In [ ]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

import pymongo

client = pymongo.MongoClient(conn)
db = client['movies']
users = db['users']

users.count_documents({})

100

In [ ]:
my_list = list(users.find())
my_list[0]

{'_id': ObjectId('5cc69095067496679c74f7a4'),
 'user_id': 'ed5da480-57a2-489c-8e68-512155ab9892',
 'first_name': 'Жанна',
 'last_name': 'Петрова',
 'mail': 'zhanna_03816@gmail.com',
 'age': 20.0}

### Задача 8

Преобразуйте список всех документов коллекции `users` из предыдущей задачи в pandas DataFrame и сохраните его содержимое в файл `result3.xlsx`.

In [ ]:
df = pd.DataFrame(my_list)
df.to_excel('result3.xlsx')

## Дополнительные (необязательные) задачи

### Задача 9

Используя данные SQL-таблицы `ratings`, для каждого пользователя (столбец `userid`) определите средний рейтинг, который этот пользователь поставил фильмам. Результат выведите на экран.

Группировку проведите двумя способами: с помощью `GROUP BY` в строке запроса к БД и с использованием метода `groupby` в pandas.

Для подключения к БД используйте строку подключения в следующей ячейке

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()
query1 = text("SELECT userid, avg(rating) FROM ratings group by userid")
df = pd.read_sql(query1, connect)
df

      userid       avg
0       6114  4.000000
1       4790  4.000000
2        273  4.314685
3       3936  3.756757
4       5761  3.419220
...      ...       ...
7951    4827  2.828025
7952    7227  3.950000
7953     790  3.918605
7954    5642  4.026786
7955    2850  3.468750

[7956 rows x 2 columns]

In [ ]:
query = text("SELECT userid, rating FROM ratings")
df = pd.read_sql(query, connect)
df.groupby('userid')['rating'].mean()

userid
1       4.277778
2       3.318182
3       3.100000
4       3.500000
5       4.269231
          ...
7952    3.390244
7953    3.567568
7954    3.750000
7955    4.150000
7956    3.290640
Name: rating, Length: 7956, dtype: float64

### Задача 10

Объедините таблицы `ratings` и `keywords` по столбцам `movieid` (используйте левое объединение). Объединение проведите двумя способами: с помощью `LEFT JOIN` в строке запроса к БД и с использованием метода `merge` в pandas. Результат объединения загрузите в DataFrame и сохраните в файл `result4.csv`.

Обратите внимание, что при объединении возможно дублирование столбцов. В результирующем датафрейме не должно быть таких дублированных столбцов.

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

query = text('SELECT userid,	r.movieid,	rating,	timestamp, tags FROM ratings r left join keywords k on r.movieid=k.movieid')

df = pd.read_sql(query, connect)
df.head()

,userid,movieid,rating,timestamp,tags
0,308,2716,3.0,980306849,None
1,308,2762,5.0,979860508,"[{'id': 769, 'name': 'falsely accused'}, {'id'..."
2,308,2762,5.0,979860508,"[{'id': 769, 'name': 'falsely accused'}, {'id'..."
3,308,2858,5.0,979859848,None
4,308,2883,4.0,979861281,None

In [ ]:
query1 = text('SELECT * FROM ratings')
query2 = text('select * from keywords')

df1 = pd.read_sql(query1, connect)
df2 = pd.read_sql(query2, connect)

df3 = pd.merge(df1, df2, how='left', on='movieid')
df3.head()

df3.to_csv('result4.csv')

### Задача 11

Используя объединенную таблицу из предыдущего задания, найдите все идентификаторы фильмов с тегом `africa` (но не `south africa` или любые другие). Список тегов в формате JSON записан в столбце `tags`.

In [ ]:
# здесь нужно читать json? или как-то по строке просто смотреть?